name: Dev CI

on:
  push:
    branches:
      - dev
  workflow_dispatch:

permissions:
  contents: read

jobs:
  dev-ci:
    uses: ./.github/workflows/build-and-upload.yml
    with:
      upload: false
      set_versions: false
    secrets: inherit
